<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/Form.css">
</head>
<body>
<div class="authorization">
    <form action="/login" class="Form-login" method="post">
        <div class="Form-field">
            <input type="email"  name="message[email]" id="authorLogin" placeholder="Login">
        </div>
        <div class="Form-field">
            <input type="password"  name="message[password]" id="authorPassword" placeholder="Password">
        </div>
        <button class="send submit-login" type="submit">Login</button>
    </form>
</div>
<script src="/scripts/Authorization.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>